@import b3.vertical.fieldConstructor 
@import helper._
@import business.EditBookDTO
@import business.Publisher
@import business.Author
@import business.PersonName
@import scala.collection.immutable.Seq

@(bookForm : Form[EditBookDTO], authorForm : Form[PersonName], publisherForm : Form[String], authors : Seq[Author], publishers : Seq[Publisher], buttonText : String, action : Call)(implicit messages: Messages, req: RequestHeader)

@b3.form(action = action) {
  @CSRF.formField
  @b3.text(bookForm("title"), '_label -> "Title", 'placeholder -> "Enter the book's title here.")
  @b3.select(bookForm("authorID"), authors.map(author => (author.id.toString, author.name.toString)), '_label -> "Author")
  <div class="form-group">
  	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addAuthorDialog">New Author</button>
  </div>
  @b3.date(bookForm("publicationDate"), '_label -> "Publication Date")
  @b3.textarea(bookForm("description"), '_label -> "Description", 'rows -> 3, 'placeholder -> "Enter a description here.")
  @b3.text(bookForm("isbn"), '_label -> "ISBN", 'placeholder -> "978-1-56619-909-4")
  @b3.text(bookForm("price"), '_label -> "Price", 'placeholder -> "10.99")
  @b3.text(bookForm("keywords"), '_label -> "Keywords", 'placeholder -> "flowers plants agriculture")
  @b3.text(bookForm("callNumber"), '_label -> "Call Number", 'placeholder -> "630.51 B661")
  @b3.select(bookForm("publisherID"), publishers.map(publisher => (publisher.id.asInt.toString, publisher.name)), '_label -> "Publisher", 'id -> "publisherID")
  <div class="form-group">
  	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addPublisherDialog">New Publisher</button>
  </div>
  @b3.submit('class -> "btn btn-primary"){ @buttonText }
}

<div id="addPublisherDialog" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Publisher</h4>
      </div>
      <div class="modal-body">
        <form id="submitNewPublisherForm">
		  @CSRF.formField
		  @b3.text(publisherForm("name"), '_label -> "Publisher Name")
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" id="submitNewPublisherButton">Add Publisher</button>
      </div>
    </div>
  </div>
</div>

<div id="addAuthorDialog" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Author</h4>
      </div>
      <div class="modal-body">
        <form id="submitNewAuthorForm">
		  @CSRF.formField
		  @b3.text(authorForm("firstName"), '_label -> "First Name", 'placeholder -> "George")
		  @b3.text(authorForm("middleName"), '_label -> "Middle Name", 'placeholder -> "R. R.")
		  @b3.text(authorForm("lastName"), '_label -> "Last Name", 'placeholder -> "Martin")
		  @b3.text(authorForm("suffixName"), '_label -> "Suffix Name", 'placeholder -> "Jr")
		  @b3.text(authorForm("titles"), '_label -> "Titles", 'placeholder -> "PhD MD CFP etc.")
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" id="submitNewAuthorButton">Add Author</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("#submitNewPublisherButton").click(function() {
	    	$.ajax({
	        url: '@controllers.routes.LibraryAppController.registerPublisherPost()',
	        type: 'POST',
	        data: $("#submitNewPublisherForm").serialize(),
	        async: false,
	        success: function(data) {
	        		$('#publisherID').append($("<option></option>")
	                           .attr("value",data["publisherID"])
	                           .text($("#name").val()));
	        		$("#publisherID").val(data["publisherID"]).change();
	        		$('#addPublisherDialog').modal('toggle')
	        }
	      })
    		}
    )
    $("#submitNewAuthorButton").click(function() {
	    	$.ajax({
	        url: '@controllers.routes.LibraryAppController.registerAuthorPost()',
	        type: 'POST',
	        data: $("#submitNewAuthorForm").serialize(),
	        async: false,
	        success: function(data) {
	        		$('#authorID').append($("<option></option>")
	                           .attr("value",data["authorID"])
	                           .text(data["name"]));
	        		$("#authorID").val(data["authorID"]).change();
	        		$('#addAuthorDialog').modal('toggle')
	        }
	      })
    		}
    )
  })
  </script>