@* searchBooks Template File *@

@import b3.vertical.fieldConstructor 
@import helper._
@import business.BookListing
@import scala.collection.immutable.Seq
@import business.SearchResult
@import business.BookSearchSort

@(searchForm: Form[Seq[String]], sort : BookSearchSort, searchResults : Seq[SearchResult[BookListing]] = Seq())(implicit messages: Messages, req: RequestHeader)

@main("Search Books") {
	<h1>Search Books</h1>
	@b3.form(action = routes.LibraryAppController.searchBooks(sort), 'id -> "searchForm") {
	  @CSRF.formField
	  @b3.text(searchForm("searchTerms"), '_label -> "Search Terms", 'placeholder -> "Search by book title, keyword, description, call no., ISBN, or publisher.")
	  @b3.submit('class -> "btn btn-primary"){ Search Books }
	}
	@if(!searchResults.isEmpty) {
	  <div class="table-responsive">
		  <table class="table table-striped">
		  	<tr><th><a href="#" class="sort" data-sort="@routes.LibraryAppController.searchBooks(BookSearchSort.relevance)">Relevance</a></th><th><a href="#" class="sort" data-sort="@routes.LibraryAppController.searchBooks(BookSearchSort.title)">Title</a> / Author (<a href="#" class="sort" data-sort="@routes.LibraryAppController.searchBooks(BookSearchSort.authorFirstName)">First Name</a> | <a href="#" class="sort" data-sort="@routes.LibraryAppController.searchBooks(BookSearchSort.authorLastName)">Last Name</a>)</th><th>ISBN</th><th>Call Number</th><th>Status</th><tr>
		  	@for(result <- searchResults) {
		  		<tr><td>@(f"${result.relevance * 100.0}%.0f%%")</td><td><a href="@routes.LibraryAppController.viewBookDetails(result.item.bookID)">@result.item.title</a><br />by @result.item.author</td><td><span class="nobr">@result.item.isbn</span></td><td>@result.item.callNumber</td><td>@result.item.status.name</td></tr>
		  		<tr><td colspan="5"><em>Keywords:</em> @result.item.keywords.mkString(" ")<br /><br /> @result.item.description</td></tr>
		  	}
		  </table>
	  </div>
	}
	<script>
	$(function() {
		$(".sort").click(function() {
			var actionUrl = $(this).data("sort");
			$("#searchForm").attr("action", actionUrl).submit();
		})
	})
	</script>
}