@* searchBooks Template File *@

@import b3.vertical.fieldConstructor 
@import helper._
@import business.BookListing
@import scala.collection.immutable.Seq
@import business.SearchResult
@import business.BookSearchSort
@import business.AdvancedBookSearchQuery

@(searchForm: Form[Seq[String]], sort : BookSearchSort, searchResults : Option[Seq[SearchResult[BookListing]]])(implicit messages: Messages, req: RequestHeader)

@main("Search Books") {
	<h1>Search Books</h1>
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#">Basic Search</a></li>
	  <li><a href="@routes.LibraryAppController.searchBooksWithAdvancedQuery(BookSearchSort.default)">Advanced Search</a></li>
	</ul>
	@b3.form(action = routes.LibraryAppController.searchBooks(sort), 'id -> "searchForm") {
	  @b3.text(searchForm("searchTerms"), '_label -> "Search Terms", 'placeholder -> "Search by book title, keyword, description, call no., ISBN, or publisher.")
	  @b3.submit('class -> "btn btn-primary"){ Search Books }
	}
	@searchResults.map{ results =>
	  @bookSearchResults(results, true)
	}
}