@* bookDetails Template File *@

@import business.Book
@import business.BookID
@import business.BookStatus
@import business.BookLoan
@import helper._

@(book : Book, loanHistory : Seq[BookLoan])(implicit messages: Messages, req: RequestHeader)

@main("Book Details") {
	<h1>Book Details</h1>
	<div class="row">
	<div class="col-md-8">
	<dl class="dl-horizontal">
	  <dt>Title</dt>
	  <dd>@book.title</dd>
	  <dt>ISBN</dt>
	  <dd>@book.isbn.toString</dd>
	  <dt>Call Number</dt>
	  <dd>@book.callNumber</dd>
	  <dt>Keywords</dt>
	  <dd>@book.keywords.mkString(" ")</dd>
	  <dt>Description</dt>
	  <dd>@book.description</dd>
	  <dt>Publisher</dt>
	  <dd>@book.publisher.name</dd>
	  <dt>Publication Date</dt>
	  <dd>@book.publicationDate.toString</dd>
	  <dt>Price</dt>
	  <dd>$ @book.price.toString</dd>
	  <dt>Status</dt>
	  <dd>@book.status.name</dd>
	</dl>
	<h2>Loan History</h2>
	<div class="table-responsive">
	  <table class="table table-striped">
	  	<tr><th>Member</th><th>Loaned Date</th><th>Due Date</th><th>Returned Date</th><tr>
	  	@for(bookLoan <- loanHistory) {
	  		<tr>
	  			<td>@bookLoan.member.name</td>
	  			<td>@bookLoan.loanedDate</td>
	  			<td>@bookLoan.dueDate</td>
	  			<td>@bookLoan.returnedDate</td>
	  		</tr>
	  	}
	  </table>
  </div>
	</div>
	<div class="col-md-4">
		<div class="btn-group-vertical" role="group">
		  <a class="btn btn-default" href="@routes.LibraryAppController.editBook(book.id)">Edit Book</a>
			@if(book.status != BookStatus.Disposed) {
			  @if(book.status == BookStatus.Available) {
			    <a class="btn btn-default" href="@routes.LibraryAppController.loanBook(book.id)">Loan Book</a>
			  } else if(book.status == BookStatus.CheckedOut || loanHistory.headOption.map(_.returnedDate == None).getOrElse(false)) {
			    <a class="btn btn-default" data-toggle="modal" href="@routes.LibraryAppController.reportBookReturned(book.id)">Report Returned</a>
			  }
			  @if(book.status == BookStatus.Available || book.status == BookStatus.CheckedOut) {
			    <button class="btn btn-default" data-toggle="modal" data-target="#reportBookLostDialog">Report Lost</button>
			  } else if(book.status == BookStatus.Lost && !loanHistory.headOption.map(_.returnedDate == None).getOrElse(false)) {
			    <button class="btn btn-default" data-toggle="modal" data-target="#reportBookFoundDialog">Report Found</button>
			  }
			  @if(book.status == BookStatus.Available) {
			    <button class="btn btn-default" data-toggle="modal" data-target="#disposeBookDialog">Dispose</button>
			  }
			}
		</div>
	  </div>
	</div>
	
	<div id="reportBookLostDialog" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Report Lost</h4>
	      </div>
	      <div class="modal-body">
	        Are you sure you want to report the book as lost?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" id="confirmBookLostButton">Yes</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Nevermind</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div id="reportBookFoundDialog" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Report Lost</h4>
	      </div>
	      <div class="modal-body">
	        Are you sure you want to report the book as found?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" id="confirmBookFoundButton">Yes</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Nevermind</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div id="disposeBookDialog" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Report Lost</h4>
	      </div>
	      <div class="modal-body">
	        Are you sure you want to report the book as found?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" id="confirmDisposeBookButton">Yes</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Nevermind</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	@form(controllers.routes.LibraryAppController.reportBookLost(book.id), 'id -> "reportLostForm") {
	  @CSRF.formField
	}
	@form(controllers.routes.LibraryAppController.reportBookFound(book.id), 'id -> "reportFoundForm") {
	  @CSRF.formField
	}
	@form(controllers.routes.LibraryAppController.disposeBook(book.id), 'id -> "disposeBookForm") {
	  @CSRF.formField
	}
	
	<script>
  $(function() {
    $("#confirmBookLostButton").click(function() {
      $("#reportLostForm").submit()
    })
    $("#confirmBookFoundButton").click(function() {
      $("#reportFoundForm").submit()
    })
    $("#confirmDisposeBookButton").click(function() {
      $("#disposeBookForm").submit()
    })
  })
  </script>
}
